In [16]:
from google.cloud import storage
import geopandas as gpd
bucket_name = "29f98e10-a489-4c82-ae5e-489dbcd4912f"

In [6]:
## OpenAIP
#   https://www.openaip.net/docs
storage_client = storage.Client.create_anonymous_client()

In [18]:
## List all blobs in the bucket
country_code = "de"
for blob in storage_client.list_blobs(bucket_name, prefix=country_code):
  print(str(blob))

<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.cup, 1680056359896677>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.geojson, 1680055425596424>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.json, 1680055825997960>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.mbtiles, 1680056808033248>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.ndgeojson, 1680054690893427>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_apt.xml, 1680056018257623>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.geojson, 1680056146665786>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.json, 1680055741794666>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.mbtiles, 1680056799326068>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.ndgeojson, 1680056003199188>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.txt, 1680055069079119>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp.xml, 1680055753955076>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_asp_extended.txt, 1680055457156330>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hgl.cup, 1680054755373424>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hgl.geojson, 1680055843413929>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hgl.json, 1680056009327792>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hgl.mbtiles, 1680056793396370>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hgl.ndgeojson, 1680054865845970>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.cup, 1680055416087180>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.geojson, 1680055358302895>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.json, 1680054851169777>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.mbtiles, 1680056814867885>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.ndgeojson, 1680054448992457>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_hot.xml, 1680055414260031>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.cup, 1680056001415163>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.geojson, 1680055722756224>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.json, 1680055906648973>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.mbtiles, 1680056795830540>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.ndgeojson, 1680055232722883>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_nav.xml, 1680055758289759>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_obs.cup, 1680055398909172>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_obs.geojson, 1680054455286802>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_obs.json, 1680056211686491>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_obs.mbtiles, 1680056797898272>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_obs.ndgeojson, 1680055949362465>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_rpp.cup, 1680055702947274>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_rpp.geojson, 1680055912599251>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_rpp.json, 1680055125924618>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_rpp.mbtiles, 1680056814636730>
<Blob: 29f98e10-a489-4c82-ae5e-489dbcd4912f, de_rpp.ndgeojson, 1680054912627511>

In [44]:
source_blob_name = "de_asp.geojson"
destination_file_name = "/home/samtal/rap/data/test.geojson"

bucket = storage_client.bucket(bucket_name)
blob = bucket.blob(source_blob_name)
blob.download_to_filename(destination_file_name)

print(
    "Downloaded public blob {} from bucket {} to {}.".format(
        source_blob_name, bucket.name, destination_file_name
    )
)

Downloaded public blob de_asp.geojson from bucket 29f98e10-a489-4c82-ae5e-489dbcd4912f to /home/samtal/rap/data/test.geojson.

In [54]:
gdf = gpd.read_file("../data/test.geojson")
relevant_fields = ['name', 'type', 'icaoClass', 'onDemand', 'onRequest', 'byNotam',
       'specialAgreement', 'country', 'upperLimit', 'lowerLimit', 'activeFrom',
       'activeUntil', 'activity', 'hoursOfOperation', 'requestCompliance',
       'dataIngestion', 'geometry']


gdf = gdf[relevant_fields]

print(len(gdf))
gdf = gdf[(gdf['icaoClass'] == 1) |(gdf['icaoClass'] == 2) | (gdf['icaoClass'] == 3)]
print(len(gdf))

print(gdf.keys())
print(len(gdf))
gdf.head()

663
246
Index(['name', 'type', 'icaoClass', 'onDemand', 'onRequest', 'byNotam',
       'specialAgreement', 'country', 'upperLimit', 'lowerLimit', 'activeFrom',
       'activeUntil', 'activity', 'hoursOfOperation', 'requestCompliance',
       'dataIngestion', 'geometry'],
      dtype='object')
246

,name,type,icaoClass,onDemand,onRequest,byNotam,specialAgreement,country,upperLimit,lowerLimit,activeFrom,activeUntil,activity,hoursOfOperation,requestCompliance,dataIngestion,geometry
7,ALPINE AREA FIS LANGEN,0,2,False,False,False,False,DE,"{'value': 245, 'unit': 6, 'referenceDatum': 2}","{'value': 130, 'unit': 6, 'referenceDatum': 2}",NaT,NaT,0,"{'operatingHours': [{'dayOfWeek': 0, 'startTim...",False,False,"POLYGON ((9.80028 47.59556, 10.48333 47.71667,..."
10,BALE-MULHOUSE,4,3,False,False,False,False,DE,"{'value': 1000, 'unit': 1, 'referenceDatum': 0}","{'value': 0, 'unit': 1, 'referenceDatum': 0}",NaT,NaT,0,"{'operatingHours': [{'dayOfWeek': 0, 'startTim...",False,False,"POLYGON ((7.59333 47.68917, 7.68528 47.56639, ..."
12,BALE-MULHOUSE 1,0,3,False,False,False,False,DE,"{'value': 100, 'unit': 6, 'referenceDatum': 2}","{'value': 1000, 'unit': 1, 'referenceDatum': 0}",NaT,NaT,0,"{'operatingHours': [{'dayOfWeek': 0, 'startTim...",False,False,"POLYGON ((7.53333 47.76667, 7.52972 47.77944, ..."
13,BALE-MULHOUSE 2,0,3,False,False,False,False,DE,"{'value': 100, 'unit': 6, 'referenceDatum': 2}","{'value': 4500, 'unit': 1, 'referenceDatum': 1}",NaT,NaT,0,"{'operatingHours': [{'dayOfWeek': 0, 'startTim...",False,False,"POLYGON ((7.63333 47.74361, 7.75528 47.58667, ..."
14,BALE-MULHOUSE 2,0,3,False,False,False,False,DE,"{'value': 100, 'unit': 6, 'referenceDatum': 2}","{'value': 3300, 'unit': 1, 'referenceDatum': 1}",NaT,NaT,0,"{'operatingHours': [{'dayOfWeek': 0, 'startTim...",False,False,"POLYGON ((7.56083 47.83639, 7.63333 47.74361, ..."

## GeoJSON description
# https://docs.openaip.net/#/Airspaces/get_airspaces

Contains the actual query result items in JSON format.

{
description:	
Response payload of a airspace instance.

_id	string
example: 60085dd4268e90000eb327ce
The document's internal reference ID value.

name	string
dataIngestion	boolean
Indicates if this airspace was created by a data ingestion process - this also means that it will be removed when the next data ingestion process is run. During data ingestion, only airspaces that are marked as "true" will be removed/replaced. This flag is set internally and cannot be edited.

type	integer
The airspace type. Possible values:

0: Other
1: Restricted
2: Danger
3: Prohibited
4: Controlled Tower Region (CTR)
5: Transponder Mandatory Zone (TMZ)
6: Radio Mandatory Zone (RMZ)
7: Terminal Maneuvering Area (TMA)
8: Temporary Reserved Area (TRA)
9: Temporary Segregated Area (TSA)
10: Flight Information Region (FIR)
11: Upper Flight Information Region (UIR)
12: Air Defense Identification Zone (ADIZ)
13: Airport Traffic Zone (ATZ)
14: Military Airport Traffic Zone (MATZ)
15: Airway
16: Military Training Route (MTR)
17: Alert Area
18: Warning Area
19: Protected Area
20: Helicopter Traffic Zone (HTZ)
21: Gliding Sector
22: Transponder Setting (TRP)
23: Traffic Information Zone (TIZ)
24: Traffic Information Area (TIA)
25: Military Training Area (MTA)
26: Controlled Area (CTA)
27: ACC Sector (ACC)
28: Aerial Sporting Or Recreational Activity
29: Low Altitude Overflight Restriction

Enum:
Array [ 32 ]
icaoClass	integer
The airspace ICAO class. Possible values:
0: A
1: B
2: C
3: D
4: E
5: F
6: G
8: Unclassified / Special Use Airspace (SUA)

Enum:
Array [ 8 ]
activity	integer
The intended activity for this airspace if defined in 'ENR 5.5 Aerial sporting and recreational activities'. The default activity is 'NONE' which applies to all other airspaces not defined in ENR 5.5. Possible values:

0: None - No specific activity (default)
1: Parachuting Activity
2: Aerobatics Activity
3: Aeroclub And Arial Work Area
4: Ultra Light Machine (ULM) Activity
5: Hang Gliding/Paragliding

Enum:
Array [ 6 ]
onDemand	boolean
onRequest	boolean
byNotam	boolean
specialAgreement	boolean
Indicates whether this airspace is related to a special agreement or not. Normally, airspaces are not based on a "special agreement" but there may be airspaces that may only be used by members of a certain club or if they personally signed a letter of agreement.

requestCompliance	boolean
An airspace that is most often not found in eAIPs but is defined by other regional/national authorities, e.g. natural reserves and monuments in the US. Those airspaces are not official but authorities request compliance of those if possible. In several cases, aircraft like UAVs are not allowed to enter those airspaces.

geometry	{...}
example: OrderedMap { "type": "Polygon", "coordinates": List [ List [ List [ 9.1234, 45.42432 ], List [ 10.1234, 45.42432 ], List [ 10.1234, 47.42432 ], List [ 9.1234, 45.42432 ] ] ] }
country	ISO 3166-1 Alpha-2 Country code{...}
example: DE
upperLimit	{
description:	
Defines an airspace vertical limit. The vertical limit is a combination of an integer value, a measurement unit and a reference datum.

value*	integer
unit*	integer
The vertical limit unit. Possbile values:

0: Meter
1: Feet
6: Flight Level

referenceDatum*	integer
The reference datum. Possible values:
0: GND
1: MSL
2: STD
}
lowerLimit	{...}
upperLimitMax	{...}
lowerLimitMin	{...}
frequencies	[...]
hoursOfOperation	{...}
activeFrom	string($date-time)
activeUntil	string($date-time)
remarks	string
createdBy	string
UID of user that created this document.

updatedBy	string
UID of user that updated this document.

createdAt	string($date-time)
The creation date for this document as ISO 8601 date.

updatedAt	string($date-time)
The updated date for this document as ISO 8601 date.

}